<div style="width: 100vw; height: 100vh">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      gap: 20px;
    "
  >
    <mat-card class="card">
      <div
        class="qrcodeImage"
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <qrcode
          #parent
          [elementType]="elementType"
          [errorCorrectionLevel]="errorCorrectionLevel"
          [qrdata]="qrdata"
          [scale]="scale"
          [width]="width"
          [allowEmptyString]="true"
          [title]="title"
          [colorDark]="colorDark"
          [colorLight]="colorLight"
          (qrCodeURL)="onChangeURL($event)"
        ></qrcode>

        <mat-form-field appearance="fill" style="width: 400px">
          <mat-label>Podaj zawartość QR-Code</mat-label>
          <input
            matInput
            placeholder="ex. www.google.pl"
            [(ngModel)]="qrdata"
          />
        </mat-form-field>
      </div>

      <mat-card-actions
        style="display: flex; flex-direction: column; justify-content: center"
      >
        <div class="downloadButton">
          @if (this.elementType !== 'svg') {
          <button
            mat-raised-button
            color="primary"
            (click)="saveAsImage(parent)"
          >
            Pobierz QR-Code
          </button>
          }
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <mat-card-content
        style="display: flex; flex-direction: column; gap: 20px"
      >
        <div style="display: flex; gap: 20px; align-items: center">
          <span>QR-Code-Color</span>
          <button
            mat-stroked-button
            [style.color]="'#ffffff'"
            [style.background]="colorDark"
            [cpPosition]="'top'"
            [cpPositionOffset]="'50%'"
            [cpPositionRelativeToArrow]="true"
            [(colorPicker)]="colorDark"
            [cpOutputFormat]="'hex'"
          >
            <mat-icon aria-hidden="false" aria-label="Color picker"
              >format_color_fill</mat-icon
            >
          </button>
        </div>
        <div style="display: flex; gap: 20px; align-items: center">
          <span>QR-Background-Color</span>
          <button
            mat-stroked-button
            [style.background]="colorLight"
            [cpPosition]="'top'"
            [cpPositionOffset]="'50%'"
            [cpPositionRelativeToArrow]="true"
            [(colorPicker)]="colorLight"
            [cpOutputFormat]="'hex'"
          >
            <mat-icon aria-hidden="false" aria-label="Color picker"
              >format_color_fill</mat-icon
            >
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
